:host {
  display: block;
}
core-header-panel {
  height: 100%;
}
core-header-panel.list  {
  background-color: #eee;
}
core-header-panel.fill {
  background-color: #555;
}
core-header-panel.quilt {
  background-color: #eee;
}
